.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  height: 100vh;
  overflow: hidden;
}

.container .list > .button {
  position: sticky;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.list {
  height: 95vh;
  /* width: 50%; */
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}